---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { Icon } from 'astro-icon/components'


---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex  items-center">
			<div class="container flex flex-row justify-between items-center max-w-[1200px] mx-auto">
				<img src="logo.svg ">
				<a class=" relative group flex flex-row items-center  hover:text-blue-300 text-gray-400 font-extrabold uppercase"  href="#">
					Idiomas de la pagina
					<Icon name="mdi:chevron-down" />

					<div class=" absolute  top-16 hidden group-hover:block">
						opciones de menù
						opciones de menù
						opciones de menù
						opciones de menù
						opciones de menù
						opciones de menù
						opciones de menù
					</div>
				</a>
				
		
			</div>
		</header>
		<slot /> 

		
	</body>
</html>


